<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our Project</title>
    <link rel="stylesheet" href="About.css" />
    
</head>
<body>
    <div class="container">
        
        <p> We are <strong>Group 6 </strong>of second-year IT , passionate about simplifying timetable management for educational institutions. Our team is dedicated to streamlining timetable creation, reducing conflicts, and optimizing resources for students and faculty. The TimeTable Rescheduler offers interactive timetable creation and a user-friendly interface.  In the future, we're excited to bring even more improvements. Thank you! for exploring the <strong>TimeTable Rescheduler!</strong></p>
    </div>
</body>
</html>
