<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <button>add prof</button>
    <button>remove prof</button>

    <h2>create prof acc form</h2>
    <form method="post" action="/admin/dashboard/createFaculty">
        <input name="name" type="text">
        <input name="email" type="email">
        <input name="password" type="password">
    </form>
</body>
</html>