<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/login.css">

</head>

<body>
    <div class="container">
        <div class="background-section"></div>
        <div class="content-section">
            <div class="form">
                <h2>Login</h2>
                <form action="/login-admin" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Log In</button>
                </form>
                <div class="social-buttons">
                    <div class="social-button">

                        <a href="/signup-admin">Create New Account</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>