<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TimeTable Rescheduler</title>
    
    <link rel="stylesheet" href="index.css">
    
</head>

<body>
    <div class="container">
        <h1 class="heading">TimeTable Rescheduler</h1>
        <div class="description">
            "Effortlessly manage your daily schedule with <strong>TimeTable Rescheduler</strong>. Our user-friendly timetable rescheduling tool is designed exclusively for teachers. Easily adjust classes, Stay organized, adapt on-the-go, and focus on what matters – shaping minds."
            
        </div>
        
        <div class="login-signin">
            <div class="buttons">
                <a href="login-prof" class="login"><strong>Professor</strong></a>
                <a href="login-admin" class="sign-in"><strong>Admin</strong></a>
            </div>
            
        </div>
        <div class="copyright">
            All rights reserved by IT-C6.
        </div>
    </div>
    
</body>

</html>
