<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />


  <link rel="stylesheet" href="/prof-dash-assets/prof_dashboard.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,800;1,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" />
</head>

<body>
  <div class="desktop-1">
    <div class="desktop-1-child"></div>
    <i class="timetable-rescheduler">TIMETABLE RESCHEDULER</i>
    <i id="home" class="home">HOME</i>
    <i id="about" class="about-us">ABOUT US</i>
    <video class="desktop-1-item" autoplay loop muted>
      <source src="/prof-dash-assets/calendar.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>


    <div class="volatile-everyday">
      <p class="volatile">VOLATILE</p>
      <p class="everyday">EVERYDAY.</p>
    </div>
    <img class="desktop-1-inner" alt="" src="/prof-dash-assets/vector-4.svg" />

    <img class="vector-icon" alt="" src="/prof-dash-assets/vector-41.svg" />

    <img class="desktop-1-child1" alt="" src="/prof-dash-assets/vector-1.svg" />

    <img class="desktop-1-child2" alt="" src="/prof-dash-assets/vector-3.svg" />

    <img class="desktop-1-child3" alt="" src="/prof-dash-assets/vector-4.svg" />

    <img class="desktop-1-child4" alt="" src="/prof-dash-assets/vector-5.svg" />

    <img class="desktop-1-child5" alt="" src="/prof-dash-assets/vector-7.svg" />

    <img class="desktop-1-child6" alt="" src="/prof-dash-assets/vector-1.svg" />

    <img class="desktop-1-child7" alt="" src="/prof-dash-assets/vector-3.svg" />

    <a class="request-slot" href="/faculty/request-slot">REQUEST SLOT</a>
    <img class="desktop-1-child6" alt="" src="/prof-dash-assets/vector-1.svg" />


    <i id="faculty" class="faculty">FACULTY</i>
    <img class="desktop-1-child7" alt="" src="/prof-dash-assets/vector-3.svg" />

    <img class="material-symbolsaccount-box-s-icon" alt="" src="/prof-dash-assets/materialsymbolsaccountboxsharp.svg" />
  </div>
  <script src="/prof-dash-assets/prof_dashboard.js"></script>
</body>

</html>