<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Slot</title>
</head>

<body>
    <h1>request slot</h1>

    <form action="/faculty/request-slot" method="post"
        style="display: flex;height: 100%;width: 100%;justify-content: center;flex-direction: column;align-items: center;">

        <input type="number" placeholder="Enter time" name="time">
        <br>

        <select name="day">
            <option value="mon">Monday</option>
            <option value="tue">Tuesday</option>
            <option value="wed">Wednesday</option>
            <option value="thu">Thursday</option>
            <option value="fri">Friday</option>
        </select>

        <br>
        <button type="submit">Submit</button>

    </form>

</body>

</html>